.header {
  background-color: $mainColor;
  padding: 20px 0;
  text-align: center;
  
  h1 {
    font-family: $fuente;
    font-weight: 800;
    font-size: 3rem;
    margin: 0;
    color: #000;
    text-transform: uppercase;
  }
}

